@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --backgorund-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;


  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

@layer utilities{
  .text-balance{
    text-wrap:balance;
  }
}

/*Efecto de desplazamiento*/
html {
  scroll-behavior: smooth;
}

/*Bordes de las secciones*/
.futuristic-border {
  position: relative;
  overflow: hidden;
}

.futuristic-border ::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(45deg, #ff00ff, #00ffff, #ff00ff);
  z-index: -1;
  filter: blur(5px);
  animation: bordeAnimation 10s linear infinite;
}

@keyframes bordeAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/*Contendor de estadisticas animado*/
@keyframes coubtUp{
  from{
    transform: translate(20px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

animate-count-up{
  animation: countUp 1s ease-out forwards;
}

/*Efecto hover de las imagenes de los empleados*/
.team-member-image{
  transition: transform 0.3s ease-in-out;
}
.team-member-image:hover{
  transform: scale(1.05);
}

/*Animacion del video del fondo*/
@keyframes zoomInOut{
  0%, 100% {transform: scale(1);}
  50% {transform: scale(1.1);}
}
.bg-video{
  animation: zoomInOut 20s ease-in-out infinite;
}